body {
  background-color: ##f3f7f6;
  margin: auto;
}

.container {
  border: 2px gray solid;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 60%;
  left: 50%;
  padding: 15px 5px;
}

.container canvas {
  border: 2px gray solid;
}

.DynamicInput * {
  display: inline-block;
}
.DynamicInput p {
  margin: 10px 10px 10px 50px;
}
